/* #Site Styles
================================================== */

body {
	background-color: #f0f0f0;
	font-size:1em;
  	line-height:1.4;
}

h1, h2, h3, h4, h5, h6 {
  color:#434343;
  font-weight:600;
  font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

/* #Header Styles
================================================== */

#header {
	height: 60px;
	background-color: #7C7C7C;
	font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

#logo {
    width: 400px;
    color: white;
    font-weight: 400;
    line-height: 60px;
    margin-left: 20px;
    font-size: 25px;
    float: left;
}

#logo span {
    font-weight: 800;
}

#logo a {
    color: white;
}

#logo a:hover {
    color: #1C1C1C;
}

#logout {
    float: right;
    line-height: 60px;
    margin-right: 10px;
}

#logout a {
    color: white;
}

#logout a:hover {
    color: #F9B84E;
}

#nav {
  float:right;
  padding-top:24px;
  text-transform:uppercase;
}

#nav a {
  color:#FFFFFF;
  margin-left:10px;
  text-decoration:none;
}

#nav a:hover {
	color:#EBB649;
}

/* #Side Styles
================================================== */

#sidebar {
    height: 500px;
    /*background-color: #333;*/
}

#sidebar-buttons {
    width: 100%;
    height: 50px;
    background-color: #555;
}

.sidebar-button {
    width: 20%;
    height: 100%;
    background-color: red;
    float:left ;
}

.sidebar-button:hover {
    background-color: blue;
}

.sidebar-add-button {
    width: 40%;
    height: 100%;
    background-color: #222;
    float: left;
    background-color: orange;
    color: white;
    line-height: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.sidebar-add-button:hover {
    background-color: green;
    cursor: pointer;
}

#sidebar-search {
    width: 100%;
    height: 40px;
    background-color: #444;
    margin-bottom: 10px;
}

#sidebar-search-form input {
    width: 200px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    background-color: #444;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

#sidebar-search-form input::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-weight: normal;
}
 
#sidebar-search-form input:-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-weight: normal;
}
 
#sidebar-search-form input:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-weight: normal;
}   

#sidebar-search-form button {
    overflow: visible;
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 70px;
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
}

#sidebar-search-form  button:hover{     
    background: #e54040;
}  

#sidebar-title {
    width: 100%;
    height: 30px;
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    color: white;
    padding-left: 5px;
    box-sizing: border-box;
}

#sidebar-list {
    width: 100%;
    height: 370px;
    background-color: #444;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-list-cell {
    width: 100%;
    height: 60px;
    background-color: #3498db;
    margin-bottom: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;
}

#sidebar-list-cell .title {
    font-size: 20px;
    margin-bottom: 2px;
    line-height: 20px;
}

#sidebar-list-cell .subtitle {
    line-height: 20px;
    font-size: 12px;
    color: white;
}

#sidebar-list-cell:hover {
    background-color: #2980b9;
}

#sidebar-list::-webkit-scrollbar {
    width: 15px;
    background-color: #252525;
}

#sidebar-list::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: #555;
}

/* #Main Page Content Styles
================================================== */

#main-page-content {
    height: 500px;
    font-weight: 400;
}

#content-header {
    height: 40px;
    width: 100%;
    background-color: #555;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}

#info-button {
    background-color: #555;
    height: 100%;
    width: 40px;
    float: left;
    color: white;
}

#info-button:hover {
    background-color: #333;
    cursor: pointer;
}

#content-header #clipping-title {
    width: 390px;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    float: left;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

#share-button {
    width: 100px;
    height: 40px;
    background-color: #555;
    float: left;
    color: white;
}

#share-button:hover {
    background-color: #333;
    cursor: pointer;
}

#comment-button {
    width: 100px;
    height: 40px;
    background-color: #555;
    float: left;
    color: white;
}

#comment-button:hover {
    background-color: #333;
    cursor: pointer;
}

#clipping-content {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* #Modal Styles
================================================== */

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 80px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 2000;
     font-family: 'Open Sans', sans-serif;
}

#overlay-box {
    background-color: #fff;
    border: 1px solid #7a858d;
    border-radius: 5px;
    height: auto;
}

#overlay-background {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

#overlay-close-button {
    width: 20px;
    height: 20px;
    color: #1C1C1C;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

#overlay-close-button:hover {
    color: #F9B84E;
    cursor: pointer;
}

#overlay h2 #overlay-title {
    word-wrap: break-word;
}

div #overlay-content {
    background: none repeat scroll 0 0 #f6f9fc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #e5e5e5;
    font-size: 13px;
    line-height: 1.8em;
    padding: 32px;
    word-wrap: break-word;
}

#overlay-box h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 20px 32px;
}

#file-form input {
    /*position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    margin-top: 20px;*/
}

#file-form button {
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    width: 120px;
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    margin-top: 20px;
}

/* #Form Styles
================================================== */

form * {
    outline: 0 none;
}
form .row {
    margin-bottom: 0;
}
form .row div {
    position: relative;
}
form .row .columns div {
    margin-bottom: 20px;
}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        /*variable*/
        #sidebar-search-form input {
            width: 140px;
        }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        /*300*/
        #sidebar {
            margin-top: 10px;
        }   

        #sidebar-search-form input {
            width: 220px;
        }
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        /*420px*/

        #sidebar {
            margin-top: 10px;
        }  

        #sidebar-search-form input {
            width: 340px;
        }
    }