/* #Site Styles
================================================== */

body {
	background-color: #FFFFFF;
	font-size:1em;
  	line-height:1.4;
}

h1, h2, h3, h4, h5, h6 {
  color:#434343;
  font-weight:600;
  font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

textarea {
    resize: none;
}

/* #Header Styles
================================================== */

#header {
	height: 60px;
	background-color: #7C7C7C;
	font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

#logo {
    width: 400px;
    color: white;
    font-weight: 400;
    line-height: 60px;
    margin-left: 20px;
    font-size: 25px;
    float: left;
}

#logo span {
    font-weight: 800;
}

#logo a {
    color: white;
}

#logo a:hover {
    color: #1C1C1C;
}

#logo img {
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#logout {
    float: right;
    line-height: 60px;
    margin-right: 10px;
}

#logout a {
    color: white;
}

#logout a:hover {
    color: #F9B84E;
}

#nav {
  float:right;
  padding-top:24px;
  text-transform:uppercase;
}

#nav a {
  color:#FFFFFF;
  margin-left:10px;
  text-decoration:none;
}

#nav a:hover {
	color:#EBB649;
}

/* #Side Styles
================================================== */

#sidebar {
    height: 500px;
    /*background-color: #333;*/
}

#sidebar-buttons {
    width: 100%;
    height: 50px;
    background-color: #555;
}

.sidebar-button {
    width: 20%;
    height: 100%;
    background-color: red;
    float:left ;
}

.sidebar-button:hover {
    background-color: blue;
}

.sidebar-add-button {
    width: 40%;
    height: 100%;
    background-color: #222;
    float: left;
    background-color: orange;
    color: white;
    line-height: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.sidebar-add-button:hover {
    background-color: green;
}

.sidebar-add-button ul {
    display: none;
    top: 74px;
    left: 290px;
    background-color: green;
    position: absolute;
    padding: 0;
    list-style-type: none;
}

.sidebar-add-button:hover > ul {
    display:list-item;
}

.sidebar-add-button ul li {
    width: 140px;
    float: none;
    position: relative;
    list-style: none; 
    text-align: center;
}

.sidebar-add-button ul li:hover {
    background-color: pink;
    cursor: pointer;
}

#sidebar-search {
    width: 100%;
    height: 40px;
    background-color: #444;
    margin-bottom: 10px;
}

#sidebar-search-form input {
    width: 200px;
    height: 20px;
    padding: 10px 5px;
    float: left;    
    background-color: #444;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

#sidebar-search-form input::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-weight: normal;
}
 
#sidebar-search-form input:-moz-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-weight: normal;
}
 
#sidebar-search-form input:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-weight: normal;
}   

#sidebar-search-form button {
    overflow: visible;
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 70px;
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
}

#sidebar-search-form  button:hover{     
    background: #e54040;
}  

#sidebar-title {
    width: 100%;
    height: 30px;
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    color: white;
    padding-left: 5px;
    box-sizing: border-box;
}

#sidebar-list {
    width: 100%;
    height: 370px;
    background-color: #444;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-list-cell {
    width: 100%;
    height: 60px;
    background-color: #6B6B6B;
    margin-bottom: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;
}

.sidebar-list-cell .title {
    font-size: 20px;
    margin-bottom: 2px;
    line-height: 20px;
}

.sidebar-list-cell .subtitle {
    line-height: 20px;
    font-size: 12px;
    color: white;
}

/*.sidebar-list-cell:hover {*/
    /*background-color: #F7F7F7;*/
/*}*/

.sidebar-list-cell.shared {
    background-color: #6B6B6B;
}

.sidebar-list-link.selected > .sidebar-list-cell {
    background-color: #C4C4C4;
}

.clipping-shared-icon {
    display: inline-block;
    height: 80%;
    float: right;
    visibility: hidden;
}

.shared > .clipping-shared-icon {
    visibility: visible;
}

#sidebar-list::-webkit-scrollbar {
    width: 15px;
    background-color: #252525;
}

#sidebar-list::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: #555;
}

/* #Main Page Content Styles
================================================== */

#main-page-content {
    height: 500px;
    font-weight: 400;
}

#content-header {
    height: 40px;
    width: 100%;
    background-color: #555;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}

#info-button {
    background-color: #555;
    height: 100%;
    width: 40px;
    float: left;
    color: white;
}

#info-button:hover {
    background-color: #333;
    cursor: pointer;
}

#content-header #clipping-title {
    width: 290px;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    float: left;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

#share-button {
    width: 100px;
    height: 40px;
    background-color: #555;
    float: left;
    color: white;
}

#share-button:hover {
    background-color: #333;
    cursor: pointer;
}

#comment-button {
    width: 100px;
    height: 40px;
    background-color: #555;
    float: left;
    color: white;
}

#comment-button:hover {
    background-color: #333;
    cursor: pointer;
}

#organize-button {
    width: 100px;
    height: 40px;
    background-color: #555;
    float: left;
    color: white;
}

#organize-button:hover {
    background-color: #333;
    cursor: pointer;
}


#clipping-content {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/* #Comment Area Styles
================================================== */

/* Area */
#comments-area {
    margin-top: 20px;
    padding: 10px;
    background-color: #F7F7F7;
}

/* Area Header */
#comments-header > #comments-header-text {
    padding-right: 10px;
    display: inline;
    color: #6B6B6B;
}

#comments-header > #comments-header-horizontal-line {
    margin-bottom: 4px;
    display: inline-block;
    width: 80%;
    height: 2px;
    background-color: #6B6B6B;
}

/* New comment row */
#new-comment-row {
    margin-top: 10px;
    width: 93%;
    text-align: center;
    background-color: #FFFFFF;
}

#new-comment-row:hover {
    cursor: pointer;
}

#new-comment-row > h4 {
    color: #6B6B6B;
}

/* Area content */
.comment-row {
    position: relative;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    min-height: 80px;
    width: 90%;
    background-color: #FFFFFF;
}

/* Triangle */
.comment-row:after {
    position: absolute;
    left: 100%;
    bottom: 0%;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 40px solid #FFFFFF;
    border-right: 40px solid transparent;
    content: "";
}

.comment-header {
    color: #6B6B6B;
}

.comment-body {
    color: #6B6B6B;
}

/* #Modal Styles
================================================== */

.overlay {
     position: absolute;
     left: 0px;
     top: 80px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 2000;
     font-family: 'Open Sans', sans-serif;
}

#add-clipping-overlay {
    visibility: hidden;
}

#add-notebook-overlay {
    visibility: hidden;
}

#share-overlay {
    visibility: hidden;
}

#overlay-box {
    background-color: #fff;
    border: 1px solid #7a858d;
    border-radius: 5px;
    height: auto;
}

#overlay-background {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

#overlay-close-button {
    width: 20px;
    height: 20px;
    color: #1C1C1C;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

#overlay-close-button:hover {
    color: #F9B84E;
    cursor: pointer;
}

#overlay h2 #overlay-title {
    word-wrap: break-word;
}

div #overlay-content {
    background: none repeat scroll 0 0 #f6f9fc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #e5e5e5;
    font-size: 13px;
    line-height: 1.8em;
    padding: 32px;
    word-wrap: break-word;
}

#overlay-box h2 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 20px 32px;
}

#file-form input {
    /*position: relative;*/
    /*border: 0;*/
    /*padding: 0;*/
    /*cursor: pointer;*/
    /*height: 35px;*/
    /*font-size: 16px;*/
    /*font-weight: 400;*/
    /*width: 100px;*/
    /*color: #fff;*/
    /*text-transform: uppercase;*/
    /*background: #d83c3c;*/
    /*margin-top: 20px;*/
}

#file-form button {
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    width: 120px;
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    margin-top: 20px;
}

#clipping-form #clipping-name {
    width: 80%;
    height: 30px;
    font-size: 15px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

#clipping-form #clipping-subtitle {
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 60px;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

#clipping-form #uploaded-file-text {
    width: 39%;
    margin-left:10%;
    margin-right: 1%;
    float: left;
    display: inline-block;
    height: 150px;
}

#clipping-form #clipping-text {
    width: 39%;
    margin-left: 1%;
    margin-right: 10%;
    float: right;
    display: inline-block;
    height: 150px;
}

#clipping-form .field-header {
    font-size: 18px;
    font-style: italic;
}

#clipping-form textarea {
    -webkit-appearance: textfield;
}

#clipping-form button {
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    width: 140px;
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    margin-top: 20px;
}

/* #Share Modal User List Styles
================================================== */

#user-share-list {
    width: 60%;
    height: 370px;
    background-color: #444;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
}

.user-share-list-cell {
    width: 100%;
    height: 30px;
    background-color: #C4C4C4;
    margin-bottom: 5px;
    padding: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;
    text-align: left;
}

.user-share-list-cell .name {
    font-size: 20px;
    margin-bottom: 2px;
    line-height: 20px;
}

.user-share-list-cell:hover {
    background-color: #6B6B6B;
}

.user-share-list::-webkit-scrollbar {
    width: 15px;
    background-color: #252525;
}

.user-share-list::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: #555;
}

#user-previously-shared-list {
    width: 100%;
    height: 370px;
    background-color: #444;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user-previously-shared-list-cell {
    width: 100%;
    height: 30px;
    background-color: #F9B84E;
    margin-bottom: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    cursor: pointer;
    text-align: left;
}

.user-previously-shared-list-cell .name {
    font-size: 20px;
    margin-bottom: 2px;
    line-height: 20px;
}

.user-previously-shared-list-cell:hover {
    background-color: #6B6B6B;
}

.user-previously-shared-list::-webkit-scrollbar {
    width: 15px;
    background-color: #252525;
}

.user-previously-shared-list::-webkit-scrollbar-thumb {
    width: 15px;
    background-color: #555;
}

.user-selected-check {
    display: inline-block;
    height: 100%;
    float: right;
}

.user-share-list-cell .user-selected-check {
    display: none;
}

.user-previously-shared-list-cell .user-selected-check {
    display: inline-block;
}

#share-submit {
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    width: 120px;
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    margin-top: 20px;
}

/* #Comment modal styles
================================================== */

#add-comment-overlay {
    visibility: hidden;
}
#comment-content {
    margin-bottom: 10px;
    width: 100%;
    height: 120px;
    font-size: 15px;
    font-style: italic;
}

#comment-submit {
    position: relative;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    width: 120px;
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    margin-top: 20px;
}



/* #Form Styles
================================================== */

form * {
    outline: 0 none;
}
form .row {
    margin-bottom: 0;
}
form .row div {
    position: relative;
}
form .row .columns div {
    margin-bottom: 20px;
}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        /*variable*/
        #sidebar-search-form input {
            width: 140px;
        }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        /*300*/
        #sidebar {
            margin-top: 10px;
        }   

        #sidebar-search-form input {
            width: 220px;
        }
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        /*420px*/

        #sidebar {
            margin-top: 10px;
        }  

        #sidebar-search-form input {
            width: 340px;
        }
    }